@model List<Product>

<h1 class="text-center">Pastries</h1>
@{
    foreach(Product p in Model)
    {
        if(p.Category == "Pastry")
        {
            <a style="color: white; text-align:center; display: block; margin: auto; width: 100%; font-size:larger" asp-controller="Product" as asp-action="ProductDetail" asp-route-productId="@p.Id" >@p.Name $@p.Price</a>
            <br/>
        }
    }
}
